*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
.btn{
  margin: 5px;
}
.content{
  text-align: center;
  

}

form input{
  
  margin: 5px;
}
.register,.login .form{
  
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 form{
  
  background-color: #f8f8f8;
  padding: 5px;
  margin: 10px auto;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 5px;
}

.account .card{
  margin: 10px auto;
}

.dash-expenses .card{
  display: inline-block;
  margin:15px;
  padding: 15px;
}
























/* register form validation  */

/* Style all input fields */
.register-form input {
    
    padding: 12px;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  .register-form input[type=submit] {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Style the container for inputs */
  .container {
    /* background-color: #f1f1f1; */
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}